* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
}

.main-container {
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap, 0);
}

.small-row {
    height: 10vh;
}

.large-row {
    height: 80vh;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.col {
    background-color: red;
    width: 200px;
    height: 20px;
}

.gap-1 {
    --gap : 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.menu {
    background-color: #222222;
}