@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.p-small {
    padding: 0.3rem;
}

.main-container {
    height: 100vh;
}

.row {
    display: flex;
    align-items: center;
    gap: var(--gap, 0);
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: start;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.col-7 {
    flex-basis: calc( ( 100% - ( var(--gap) * 6 ) ) / 7 );
    height: calc( ( var(--container-height) - ( var(--gap) * 6 *2 ) ) / 5);
    overflow: hidden;
    position: relative;
}

.gap {
    --gap : 10px;
}

.top-controls {
    height: 10vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    --container-height : 75vh;
    height: var(--container-height);
    margin-bottom: calc( 80vh - var(--container-height) );
}

.grey-box {
    background-color: #4A4A4A;
    border-radius: 5px;
    font-size: 0.8rem;
}

.webcam-preview {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.member-name {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.7rem;
}

.menu {
    background-color: #222222;
    height: 10vh;
    text-align: center;
}

.menu .btn {
    padding: 0 0.5rem;
    font-size: 0.7rem;
}

.icon-small {
    font-size: 0.5rem;
}

.icon-big {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.icon-green {
    color: #47C900;
}

.end-meeting-btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    background-color: #4A4A4A;
    color: red;
}